/* Sliding frames styling */
.sliding-frames {
  --main-color: #374151;
  --secondary-color: #f97316;
  --selection-color: #4d5b72;
  --background-color: #374151;

  position: relative;

  width: min(80%, 100rem);

  display: grid;
  grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
  grid-template-rows: max(30rem, 20vh);
  align-items: center;
  justify-items: center;
  gap: 1rem;

  padding: 1rem;

  background-color: var(--background-color);

  border-radius: 3rem;
}

.sliding-frames > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliding-frames button {
  width: 100%;
  height: 100%;

  font-size: 2rem;

  background-color: var(--main-color);
  color: white;

  opacity: 1;

  border-radius: 2rem;
  border: none;

  cursor: pointer;
}

.sliding-frames button:active {
  background-color: var(--selection-color);
}

.frame-b,
.frame-a {
  height: 100%;
  width: auto;

  opacity: 50%;
}

.sliding-frames img {
  height: 100%;
  width: auto;

  border-radius: 1rem;
}

.frame-a img,
.frame-b img {
  max-width: 100%;
}

.frame {
  height: 100%;
  width: auto;

  transition: transform 100ms ease-out;
}

.frame.bounce {
  transform: scale(1.05);
}

.frame-dots {
  position: absolute;
  bottom: 5%;

  width: 25%;

  font-size: 5rem;

  user-select: none;
}

.frame-dots > span {
  margin: 0.5rem;
  cursor: pointer;
}

.highlighted-dot {
  color: white;
}
