/* Sliding frames styling */
.sliding-frames {
  --main-color: #374151;
  --secondary-color: #f97316;
  --selection-color: #4d5b72;
  --background-color: #374151;

  display: flex;
}

.sliding-frames > * {
  flex: 1;
}

.sliding-frames img {
  max-width: 20rem;
  max-height: 20rem;
}
