/* Drop down menu styling */
.drop-down-menu {
  --main-color: #374151;
  --secondary-color: #f97316;
  --selection-color: #4d5b72;
  --background-color: #374151;

  font-family: "Roboto", serif;

  position: relative;

  user-select: none;

  z-index: 999;
}

.drop-down-menu > div {
  display: flex;

  width: fit-content;
  min-width: 8rem;
  max-width: 25rem;

  padding: 0.3rem 0.3rem 0.3rem 0.5rem;

  background-color: var(--background-color);
  color: white;

  border-radius: 0.7rem;

  transition: border-radius 300ms ease-out;
}

.drop-down-menu.clicked > div {
  border-radius: 0.7rem 0.7rem 0 0;
}

.drop-down-menu > div:hover {
  cursor: pointer;
}

.drop-down-menu p,
.drop-down-menu li {
  margin-right: auto;
}

.drop-down-menu span {
  width: 1em;
  height: 1em;

  margin-left: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  color: black;
  border-radius: 0.5em;

  transition: transform 100ms ease-in-out;
}

.drop-down-menu.clicked span {
  transform: rotate(90deg);
}

.drop-down-menu.clicked ul {
  transform: translate(0, 0.5rem);
  opacity: 1;
  pointer-events: all;
}

.drop-down-menu ul {
  position: absolute;

  width: 100%;
  min-width: fit-content;
  max-width: 25rem;

  padding-top: 0.3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: var(--main-color);
  color: white;

  border-radius: 0 0 0.7rem 0.7rem;

  opacity: 0;
  transition:
    transform 300ms ease-out,
    opacity 150ms ease-out;

  translate: 0 -0.5rem;

  overflow: hidden;

  list-style-type: none;
  pointer-events: none;
}

.drop-down-menu ul li {
  flex: 1;

  margin: 0;
  padding: 0.3rem 0.4rem;
}

.drop-down-menu ul li:hover {
  background-color: var(--selection-color);
  cursor: pointer;
}
